.Container {
	margin: 30px;

	.Treesform {
		margin-bottom: 30px;
	}

	.TreesTable {
		th {
			background-color: #708189;
			color: #fff;
			vertical-align: middle;
		}
	}

	.Loading {
		text-align: center;
		margin-top: 200px;
	}
}